* {
  font-family: sans-serif;
  font-size: 1.1em;
}

li {
  list-style-type: square;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.todo {
  text-decoration: none;
  color: black;
}

.todo-list {
  max-height: 200px;
  overflow: scroll;
  border: none;
}
